body {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", "Roboto Light", "Segoe UI Web Light", "Segoe UI Light", "Segoe UI Web Regular", "Segoe UI", Helvetica, Arial, sans-serif; 
  margin: 1em;
  background: #293950;
  color: #ecf0f0;
}
section {
  margin: 0 auto;
}
h1 {
  font-weight: normal;
  font-size: 2.4em;
  margin-bottom: 0;
}
a {
  color: gold;
}


.node{
  transition: all 0.5s;
  animation-delay: 1s;
}

.node:hover{
  opacity: 0.7;
}
